PrintMotd no
DebianBanner no

KbdInteractiveAuthentication no  # ChallengeResponseAuthentication is a deprecated alias for this.
PasswordAuthentication no
PermitRootLogin no
UsePAM yes

AuthenticationMethods publickey

AllowGroups allow_ssh

Ciphers       chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
KexAlgorithms curve25519-sha256@libssh.org
MACs          hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com

LoginGraceTime 30
MaxAuthTries 3

X11Forwarding no

AcceptEnv LANG
AcceptEnv LC_*


# SFTP-only users settings
#Subsystem sftp internal-sftp
#
#Match Group sftponly
#    ForceCommand internal-sftp
#    ChrootDirectory /home/%u
#    AllowTcpForwarding no
#    X11Forwarding no
#    PermitTunnel no
#    AllowAgentForwarding no
